# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Firebase / Native Secrets
google-services.json
android/app/google-services.json
*.jks
*.keystore

# typescript
*.tsbuildinfo

app-example

# Logs
*.log
*_log.txt
*_log_utf8.txt
*_output.json
*_utf8.json

# generated native folders
/ios

# env
.env
.env.*
!.env.example

